<div class='flex items-center justify-center h-full'>
  <%= form_with(model: current_workspace) do |form| %>
    <div class='flex items-center justify-center gap-3'>
      <%= form.label :open_ai_access_token %>
      <%= form.text_field :open_ai_access_token %>
    </div>
    <div class='flex items-center justify-center gap-3'>
      <%= form.label :system_message %>
      <%= form.text_area :system_message %>
    </div>
    <div class='flex items-center justify-center gap-3'>
      <%= form.label :open_ai_model %>
      <%= form.select :open_ai_model, Workspace.open_ai_models.keys %>
    </div>
    <div class='flex items-center justify-center p-6'>
    <%= form.submit 'Save', class: 'inline-flex justify-center px-4 py-2 font-semibold text-white border border-transparent leading-5 rounded-md bg-[#007a5a] hover:bg-green-800 focus:outline-none focus:border-green-900 focus:ring-blue active:bg-green-900 transition duration-150 ease-in-out' %>
    </div>
  <% end %>
</div>
